<aside class="navbar navbar-expand-lg bg-body-tertiary vh-100">
    <div class="container-fluid flex-column align-items-start px-0 h-100">
        <div>
            <a class="navbar-brand" href="#"><h1><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e33e944d6b136d33939dadf6358d65c76ec06e49/week5/logo-ANSWER.svg" alt="Dolce's week5-ANSWER" class="px-3"></h1></a>
            <ul class="list-unstyled flex-column">
                <li class="py-2"><a href="#" class="py-2 px-3 fw-bold"><span class="material-symbols-outlined align-bottom me-3">analytics</span>Dashboard</a></li>
                <li class="py-3"><a href="#" class="py-2 px-3 fw-bold"><span class="material-symbols-outlined align-bottom  me-3">forum</span>Question</a></li>
                <li class="py-3"><a href="index.html" class="link <%= page === 'assignment'? 'border-success text-success border-start border-3':'' %> py-2 px-3 fw-bold"><span class="material-symbols-outlined align-bottom  me-3">assignment</span>Assignment</a></li>
                <li class="py-3"><a href="#" class="py-2 px-3 fw-bold"><span class="material-symbols-outlined align-bottom  me-3">video_library</span>Course</a></li>
                <li class="py-3"><a href="admin.html" class="link <%= page === 'admin'? 'border-success text-success border-start border-3':'' %> active  py-2 px-3 fw-bold" aria-current="page"><span class="material-symbols-outlined align-bottom me-3">group</span>Admin</a></li>
                <li class="py-3"><a href="#" class="py-2 px-3 fw-bold"><span class="material-symbols-outlined align-bottom  me-3">settings</span>Settings</a></li>
            </ul>
        </div>
        <div class="d-flex px-2 pb-4">
            <div class="flex-shrink-0">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="andychen" width="48" height="48" class="d-block rounded-circle object-fit-cover">
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="fw-bold mb-0">Andy Chen</p>
                <a href="mailto:andy0401@mail.com" class="py-0 text-secondary">andy0401@mail.com</a>
            </div>
        </div>
    </div>
</aside>
