<header class="row mt-3">
    <div class="col d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <h4 class="fw-bold text-dark">Admin</h4>
        <button class="btn ms-5 d-flex" data-bs-toggle="modal" data-bs-target="#modal-add">
          <span class="material-symbols-outlined text-success align-bottom">add</span><p class="fw-bold">Add New Admin</p>
        </button>
      </div>
      <div class="icon-group">
        <a href="#">
          <span class="material-symbols-outlined">search</span>
        </a>
        <a href="#">
          <span class="material-symbols-outlined ms-4">notifications_active</span>
        </a>
      </div>
    </div>
  </header>