<div class="modal fade" id="modal-view" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="container p-32">
          <div class="row">
            <div class="col">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emir.jpeg?raw=true" alt="emir" class="img-fluid object-fit-cover">
            </div>
            <div class="col-7">
              <div class="title d-flex justify-content-between">
                <h6>#1</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="py-2">
                <p>Admin</p>
                <h4 class="fw-bold">Emir Wicks</h4>
              </div>
              <a href="mailto:emir.wicks@mail.com">emir.wicks@mail.com</a>
              <div class="verified d-flex justify-content-between mt-4">
                <h6><span class="badge bg-light text-dark">Verified</span></h6>
                <span class="material-symbols-outlined">keyboard_arrow_down</span>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>