<div>
    <table class="table table-hover mt-5">
      <thead class=" border-bottom border-dark">
        <tr>
          <th scope="col">ID
            <a href="#"><span class="material-symbols-outlined fs-7 text-success fw-bold ms-7">arrow_downward</span></a></th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Verified</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">#1</td>
          <td>Emir Wicks</td>
          <td>emir.wicks@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined" data-bs-toggle="modal" data-bs-target="#modal-view">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4" data-bs-toggle="modal" data-bs-target="#modal-edit">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#2</td>
          <td>Zaina Goldsmith</td>
          <td>zaina.goldsmith@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        </tr>
        <tr>
          <td scope="row">#3</td>
          <td>Mahima Lopez</td>
          <td>mahima.lopez@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#4</td>
          <td>Pharrell Murray</td>
          <td>pharrell.murray@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#5</td>
          <td>Annika Mcbride</td>
          <td>annika.mcbride@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#6</td>
          <td>Fatimah Clark</td>
          <td>fatimah.clark@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#7</td>
          <td>Klaudia Rhodes</td>
          <td>klaudia.rhodes@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#8</td>
          <td>Tillie Lucero</td>
          <td>tillie.lucero@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#9</td>
          <td>Sabrina Stephenson</td>
          <td>sabrina.stephenson@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
        <tr>
          <td scope="row">#10</td>
          <td>Annie Smith</td>
          <td>annie.smith@mail.com</td>
          <td>Yes</td>
          <td>
            <a href="#"><span class="material-symbols-outlined">visibility</span></a>
            <a href="#"><span class="material-symbols-outlined ms-4">edit</span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>